<html>
  <h1>Create account</h1>
    <div class="form">
      <%= form_for(@user) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control", :required => true %>

        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control", :type => "email",
                :required => true %>

        <%= f.submit %>
      <% end %>
    </div>
</html>